.Logo {
    margin-left: auto;
    position: relative;
    overflow:hidden;
    width:400px;
    height:60px;
    z-index: 100;
}

.Logo img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    height:60px;
    object-fit:cover;
}