.Button {
    height: 45px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background: #007bff;
}

.Button button {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0 3px 0;
    font-weight: bold;
    display: block;
}

.Button:focus{
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}
